.popup-gallery_wrap {
  display: none;
  position: absolute;
  width: 700px;
  height: 700px;
  left: calc(50px);
  top: calc(50px);
  border: 1px solid tomato;
}
.popup-gallery_wrap_active {
  display: block;
}
.flip-card-inner {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.flip-card-front {
  display: flex;
  height: 90px;
  margin-right: 20px;
  margin-left: 70px;
}
